:root {
  --background: #1f1f1f;
  --background-muted: #3d3d3d;

  --foreground: #f6f6f6;
  --foreground-muted: #888888;

  --primary: #689d6a;
}
:root.mid-mode {
  --background: #3a3834;
  --background-muted: #4d4a44;

  --foreground: #f1ede6;
  --foreground-muted: #c2bdb4;

  --primary: #b57614;
}
:root.light-mode {
  --background: #8ce07c;
  --background-muted: #98971a;

  --foreground: #1d2021;
  --foreground-muted: #3c3836;

  --primary: #fabd2f;
}
