:root {
  --background: #1f1f1f;
  --background-muted: #3d3d3d;

  --foreground: #f6f6f6;
  --foreground-muted: #888888;

  --primary: #8ce07c;
}
:root.light-mode {
  --background: #f6f6f6;
  --background-muted: #e5e5e5;

  --foreground: #1a1a1a;
  --foreground-muted: #666666;

  --primary: #4CAF50;
}
