---
import { DESC } from "../utils/constants.ts"
---

<div>
  <p><span>Now</span> - {DESC}</p>
  <p>I started creating websites back in 2023. Since then, I’ve been lucky enough to help people launch their dreams and build the digital tools they need to succeed.</p>
  <p>Currently i worked at <a href="https://oxinos.id">Oxinos</a> as senior frontend developer, while dipping my toes into low-level programing and cli scripting,  
  if you have interesting full stack development or CLI projects, send me an <a href="mailto:jee.nvim@gmail.com">email</a>.</p>
</div>

<style>
  span {
    font-family: "secondary";
    font-style: italic
  }
</style>
