---
import { DESC } from "../utils/constants.ts"
---

<div>
  <p><span>Now</span> - {DESC}</p>
  <p>I started creating websites back in 2023. Since then, I’ve been lucky enough to help people launch their dreams and build the digital tools they need to succeed.</p>
  <p>
    Currently, I am a Senior Frontend Developer at 
    <a href="https://oxinos.id" title="Oxinos">Oxinos</a>, where I've also 
    been dipping my toes into CLI development. 
    If you have an interesting full-stack or CLI project in mind, 
    let's talk, send me an <a href="mailto:jee.nvim@gmail.com" title="Email">email</a>.
  </p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  span {
    font-family: "secondary";
    font-style: italic
  }
</style>
