<footer>
  <p>Less is more.</p>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem
  }
  p {
    color: var(--foreground-muted)
  }
</style>
