---
import { BLOG } from "../lib/constants.ts"
const latestPost = BLOG[0];
const latestBlog = latestPost ? latestPost.data : null;
---

{latestPost && latestBlog && (
  <a class="a-none" href={`/blog/${latestPost.slug}`} title={latestBlog.title}>
    <p>{latestBlog.title}</p>
    <div></div>
    <small>{latestBlog.date.toDateString().slice(4,10)}</small>
  </a>
)}

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  
  a p {
    width: 70vw; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  
  a small {
    min-width: max-content;
    color: var(--foreground-muted);
  }

  a div {
    flex-grow: 1;
    height: 1px;
    background: var(--foreground-muted);
    opacity: 0.5; 
  }

  @media (min-width: 768px) {
    a p {
      width: auto;
      max-width: 50%; 
    }
    
  }
</style>
