---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { IMAGE } from "../utils/constants.ts";
import { Undo2 } from "@lucide/astro"
import ThemeScript from "../components/theme-script.astro"
---

<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#1f1f1f" />

    <meta property="og:type" content="website" />
    <meta property="og:image" content={IMAGE} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={IMAGE} />
    <slot name="head" />
    <ThemeScript />
  </head>

  <body>
    <div class="overlay"></div>

    <aside>
      <a href="/" class="a-none">
        <Undo2 size={14} />
        index
      </a>
      <div class="sidebar-wrapper">
        <nav class="side__nav">
          <slot name="sidebar" />
        </nav>
      </div>
    </aside>
    <main class="container-second">
      <slot />
    </main>
  </body>
</html>

<style>
  body > div:last-child {
    display: flex;
    height: 100vh;
  }

  aside {
    padding-top: 4.5rem;
    width: 200px;
    flex-shrink: 0;
    position: fixed;
    top: 2%;
    left: 10%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 5rem
  }

  a {
    color: var(--foreground-muted) !important;
    font-family: "secondary";
    font-style: italic;
  }
  a:hover {
    color: var(--foreground) !important;
  }

  @media (max-width: 1250px) {
    aside {
      padding-inline: clamp(1.5rem, 1.5vw, 3rem);
      position: static;
      height: fit-content;
      width: 100%;
    }
    .sidebar-wrapper {
      display: none;
    }
    main {
      padding-top: 3rem
    }
  }

  main {
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

</style>
